/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #111B21;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #384045;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.left-container::-webkit-scrollbar-track {
    background: #111B21;

}